[submodule "tmux-solarized"]
	path = tmux-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "zsh/zsh-vcs-prompt"]
	path = zsh/zsh-vcs-prompt
	url = git://github.com/yonchu/zsh-vcs-prompt.git
